@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Chulapa;
        src: url(/fonts/Chulapa-Regular.otf);
    }

    @font-face {
        font-family: Chulapa;
        src: url(/fonts/Chulapa-Bold.otf);
        font-weight: bold;
    }

    @font-face {
        font-family: Chulapa;
        src: url(/fonts/Chulapa-Light.otf);
        font-weight: lighter;
    }
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.font-variant-ligatures-discretionary {
    font-variant-ligatures: discretionary-ligatures;
}