.main {
    background-image: linear-gradient(-78deg, #ee7752, #e73c7e, #182a6c);
}

span.m,
span.o,
span.a,
span.e {
    font-feature-settings: "ss03";
}

span.r {
    font-feature-settings: "aalt" 4;
}

span.h {
    font-feature-settings: "aalt";
}

.heading span.el {
    font-feature-settings: "dlig";
}
